<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-item lines="none">
      <ion-label color="primary" class="myFont">แก้ไขบาร์โค๊ด</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-input type="text" #searchBox id="search-box" [(ngModel)]="textSearch" (keyup)="search(searchBox.value)" placeholder="พิมพ์ชื่อสินค้า"></ion-input>
    <ul class="search-result">
        <li *ngFor="let stock of stocks$ | async"  (click)="onSelect(stock)"> {{stock.businessName}}></li>
    </ul>
    <ion-item color="primary" lines="none" *ngIf="itemsHeader">
        <ion-thumbnail slot="start">
           <img [src]="itemsHeader.imageBase64" (click)="updatePhoto()"> 
        </ion-thumbnail>  
        <ion-label class="myFont">{{itemsHeader.businessName}}</ion-label>  
    </ion-item>
  <ion-list *ngFor="let item of itemsDetail">
    <ion-item lines="none" class="myFont">
      <ion-checkbox [(ngModel)]="item.barcodeOnly"></ion-checkbox>
      <ion-label>{{item.unitNameS}}</ion-label>
      <ion-icon name="barcode" color="primary"></ion-icon>
      <ion-input class="form-control" type="tel" [(ngModel)]="item.saleBarcode"></ion-input>
    </ion-item>
  </ion-list>  
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="saveEditBarcode()">
    <ion-icon name="save"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
<!-- <ion-footer>
  <h2>&nbsp;&nbsp;</h2>
</ion-footer> -->
