<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-text color="primary">สินค้าขายไปวันนี้!</ion-text>
    <ion-button slot="end" fill="clear" (click)="getReport()">
      <ion-icon name="search" size="large" color="primary"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-text color="primary"><small>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fromDate"></ion-datetime>
        </small></ion-text>
      </ion-item>
  </ion-col>
  <ion-col size="6">
    <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-text color="primary"><small>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="toDate"></ion-datetime>
        </small>
        </ion-text>
    </ion-item>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ngx-datatable class="material" style="width: 100%;"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [reorderable]="reorderable">
      <ngx-datatable-column prop="businessName" minWidth="150" name="รายการ">
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
      </ngx-datatable-column>

      <!-- rest of the column-->  
      <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              จำนวน
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.itemQTY}} {{row.unitNameA}}
          </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="sale" name="ยอดขาย">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | number: '1.0-0'}}
         </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="profit" name="กำไร">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | number: '1.0-0'}}
        </ng-template>
      </ngx-datatable-column>    
      <ngx-datatable-column prop="profitMargin" name="%มาร์จิ้น">
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | number: '1.1-1'}}          
        </ng-template>
      </ngx-datatable-column>  
   </ngx-datatable>
</ion-content>

